
//m-1:m-16, p-1:p-16, 4px:768px
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer * .75,
  4: $spacer,
  5: $spacer * 1.5,
  6: $spacer * 2,
  7: $spacer * 3,
  8: $spacer * 4,
  9: $spacer * 6,
  10: $spacer * 8,
  11: $spacer * 12,
  12: $spacer * 16,
  13: $spacer * 24,
  14: $spacer * 32,
  15: $spacer * 40,
  16: $spacer * 48,
);

//fs-1:fs-8, 48px:12px
$font-size-base:              1rem;
$h1-font-size:                $font-size-base * 3;
$h2-font-size:                $font-size-base * 2;
$h3-font-size:                $font-size-base * 1.5;
$h4-font-size:                $font-size-base * 1.25;
$h5-font-size:                $font-size-base * 1.125;
$h6-font-size:                $font-size-base;
$h7-font-size:                $font-size-base * 0.875;
$h8-font-size:                $font-size-base * 0.75;

$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size,
  7: $h7-font-size,
  8: $h8-font-size,
);
//colors
$primary    : #004D40;
$primary-text    : #004D40;
$secondary  : #133800;
$secondary-text:#C5E1A5;
$success    : #4E342E;
//gradient
$gradient: linear-gradient(.25turn, $primary, 50%, $success);


//list-group
$list-group-color: white;
$list-group-action-hover-color:#B0BEC5;
$list-group-border-color:           rgba(white, .125);


@import "../node_modules/bootstrap/scss/bootstrap.scss";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    .container:not(.navbarContainer){
        padding-top: 60px;
        margin-bottom: -60px;
        margin-right:auto;
        margin-left:auto;
        margin-top: 60px;
    }

    .list-group-flush li:first-child { border-top: none; }


$profileMaskUrl : url("data:image/svg+xml,<svg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'><path d='M70.2,-22.1C79.4,5.5,67.3,40.8,44.4,56.3C21.4,71.8,-12.3,67.6,-35.3,50.4C-58.4,33.3,-70.7,3.1,-63.1,-22.3C-55.4,-47.8,-27.7,-68.6,1.4,-69.1C30.5,-69.5,61,-49.6,70.2,-22.1Z' transform='translate(100 100)'/></svg>");

    .profileMask{
        -webkit-mask-image: $profileMaskUrl;
        mask-image: $profileMaskUrl;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
    }

.text-pr{
    color: $primary-text;
}

.text-se{
    color: $secondary-text;
}
a.text-se{
    text-decoration:none;
    &:hover{
        color: rgba($secondary-text, 0.75);
    }
}

.row{
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  
.svg-enter:after {
    display: inline-flex;
    content: "";
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z'/></svg>");
    background-size: 18px 18px;
    height: 18px;
    width: 18px;
}

.svg-geo:after {
    display: inline-flex;
    content: "";
    background-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-geo-alt-fill" viewBox="0 0 16 16"><path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/></svg>');
    background-size: 18px 18px;
    height: 18px;
    width: 18px;
}

.svg-circle:after {
    display: inline-flex;
    content: "";
    background-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" fill="%23004D40" width="16" height="16" class="bi bi-circle-fill" viewBox="0 0 16 16"><circle cx="8" cy="8" r="8"/></svg>');
    background-size: 18px 18px;
    height: 18px;
    width: 18px;
}

.svg-circle-half:after{
    display: inline-flex;
    content: "";
    background-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23004D40" class="bi bi-circle-half" viewBox="0 0 16 16"><path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"/></svg>');
    background-size: 18px 18px;
    height: 18px;
    width: 18px;
}

.svg-circle-void:after{
    display: inline-flex;
    content: "";
    background-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23004D40" class="bi bi-circle" viewBox="0 0 16 16"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/></svg>');
    background-size: 18px 18px;
    height: 18px;
    width: 18px;
}

.svg-trophy:after{
    display: inline-flex;
    content: "";
    background-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23004D40" class="bi bi-trophy" viewBox="0 0 16 16"><path d="M2.5.5A.5.5 0 0 1 3 0h10a.5.5 0 0 1 .5.5c0 .538-.012 1.05-.034 1.536a3 3 0 1 1-1.133 5.89c-.79 1.865-1.878 2.777-2.833 3.011v2.173l1.425.356c.194.048.377.135.537.255L13.3 15.1a.5.5 0 0 1-.3.9H3a.5.5 0 0 1-.3-.9l1.838-1.379c.16-.12.343-.207.537-.255L6.5 13.11v-2.173c-.955-.234-2.043-1.146-2.833-3.012a3 3 0 1 1-1.132-5.89A33.076 33.076 0 0 1 2.5.5zm.099 2.54a2 2 0 0 0 .72 3.935c-.333-1.05-.588-2.346-.72-3.935zm10.083 3.935a2 2 0 0 0 .72-3.935c-.133 1.59-.388 2.885-.72 3.935zM3.504 1c.007.517.026 1.006.056 1.469.13 2.028.457 3.546.87 4.667C5.294 9.48 6.484 10 7 10a.5.5 0 0 1 .5.5v2.61a1 1 0 0 1-.757.97l-1.426.356a.5.5 0 0 0-.179.085L4.5 15h7l-.638-.479a.501.501 0 0 0-.18-.085l-1.425-.356a1 1 0 0 1-.757-.97V10.5A.5.5 0 0 1 9 10c.516 0 1.706-.52 2.57-2.864.413-1.12.74-2.64.87-4.667.03-.463.049-.952.056-1.469H3.504z"/></svg>');
    background-size: 16px 16px;
    height: 16px;
    width: 16px;
}

.svg-pencil:after{
    display: inline-flex;
    content: "";
    background-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23004D40" class="bi bi-pencil-square" viewBox="0 0 16 16"><path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/><path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/></svg>');
    background-size: 16px 16px;
    height: 16px;
    width: 16px;
}

.svg-book:after{
    display: inline-flex;
    content: "";
    background-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23004D40" class="bi bi-pencil-square" viewBox="0 0 16 16"><path d="M8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/></svg>');
    background-size: 16px 16px;
    height: 16px;
    width: 16px;
}
